<div class="modal fade" id="contactModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Edit Contact</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <%= form_with model: @profile, url: cv_path(@profile), method: :patch do |f| %>

          <div class="mb-2">
            <%= f.label :phone %>
            <%= f.text_field :phone, class: "form-control" %>
          </div>

          <div class="mb-2">
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control" %>
          </div>

          <div class="mb-2">
            <%= f.label :location %>
            <%= f.text_field :location, class: "form-control" %>
          </div>

          <div class="mb-2">
            <%= f.label :github_url %>
            <%= f.text_field :github_url, class: "form-control" %>
          </div>

          <div class="mb-2">
            <%= f.label :linkedin_url %>
            <%= f.text_field :linkedin_url, class: "form-control" %>
          </div>

          <div class="text-end mt-3">
            <%= f.submit "Save", class: "btn btn-dark" %>
          </div>

        <% end %>
      </div>

    </div>
  </div>
</div>