<div class="modal fade" id="languagesModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Edit Languages</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <%= form_with model: @profile, url: cv_path(@profile), method: :patch do |f| %>
          <%= f.fields_for :languages do |sf| %>
            <div class="row mb-2">
              <div class="col">
                <%= sf.text_field :name, class: "form-control", placeholder: "Name" %>
              </div>
              <div class="col">
                <%= sf.select :level, Language::LEVELS, { prompt: "Select level" }, class: "form-select" %>
              </div>
              <div class="col-auto text-danger">
                <%= sf.check_box :_destroy %> Remove
              </div>
            </div>
          <% end %>

          <h6 class="mt-3">Add new language</h6>
          <%= f.fields_for :languages, Language.new do |sf| %>
            <div class="row mb-2">
              <div class="col">
                <%= sf.text_field :name, class: "form-control", placeholder: "Name" %>
              </div>
              <div class="col">
                <%= sf.select :level, Language::LEVELS, { prompt: "Select level" }, class: "form-select" %>
              </div>
            </div>
          <% end %>

          <div class="text-end mt-3">
            <%= f.submit "Save", class: "btn btn-dark" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>