<%= form_with model: profile, url: cv_path(@profile), local: true do |f| %>

  <%= f.fields_for :educations, education do |edu| %>

    <%= edu.hidden_field :id if education.persisted? %>

    <div class="mb-2">
      <%= edu.label :institution %>
      <%= edu.text_field :institution, class: "form-control" %>
    </div>

    <div class="mb-2">
      <%= edu.label :degree %>
      <%= edu.text_field :degree, class: "form-control" %>
    </div>

    <div class="mb-2">
      <%= edu.label :location %>
      <%= edu.text_field :location, class: "form-control" %>
    </div>

    <div class="mb-2">
      <%= edu.label :start_date %>
      <%= edu.date_field :start_date, class: "form-control" %>
    </div>

    <div class="mb-2">
      <%= edu.label :end_date %>
      <%= edu.date_field :end_date, class: "form-control" %>
    </div>

    <% if education.persisted? %>
      <div class="mb-2 text-danger">
        <%= edu.check_box :_destroy %> Remove Education
      </div>
    <% end %>

  <% end %>

  <%= f.submit education.persisted? ? "Update" : "Create",
               class: "btn btn-dark w-100 mt-3" %>

<% end %>